extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lacus a purus egestas porttitor. Nam sed dolor orci. Nulla sed leo eu justo tristique cursus eget et lectus. Donec ut vehicula turpis, sagittis scelerisque sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sed nunc tempor, lacinia ipsum sit amet, pharetra tortor. Mauris erat ligula, cursus sit amet finibus sed, fringilla nec nulla. Quisque molestie, nisl quis iaculis tempus, magna velit varius justo, ac vestibulum leo massa quis risus.
                p In gravida eros diam, a maximus enim rhoncus et. Donec dictum blandit dui, et faucibus lorem sagittis luctus. Ut tempor id arcu sit amet placerat. Integer placerat nibh elementum tortor consectetur venenatis. Aliquam sodales feugiat cursus. Ut tincidunt feugiat cursus. Morbi ut neque leo. Aenean lacinia, leo vel scelerisque rutrum, ex libero rutrum mauris, sed ullamcorper velit libero sit amet metus. Etiam at erat ut neque gravida ornare. Fusce at dui augue.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque vehicula lobortis rhoncus. Curabitur vestibulum ex nulla, sit amet ullamcorper augue pharetra vel. Ut a maximus massa, ut gravida lacus. Vestibulum malesuada, massa vitae ornare suscipit, elit erat blandit neque, a auctor ante erat at felis. Sed dui sapien, ornare iaculis neque sed, ultrices fermentum nibh. Phasellus vehicula velit vel libero iaculis blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id odio vitae ligula pretium mattis.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque vehicula lobortis rhoncus. Curabitur vestibulum ex nulla, sit amet ullamcorper augue pharetra vel. Ut a maximus massa, ut gravida lacus. Vestibulum malesuada, massa vitae ornare suscipit, elit erat blandit neque, a auctor ante erat at felis. Sed dui sapien, ornare iaculis neque sed, ultrices fermentum nibh. Phasellus vehicula velit vel libero iaculis blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id odio vitae ligula pretium mattis. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Pellentesque vehicula lobortis rhoncus. Curabitur vestibulum ex nulla, sit amet ullamcorper augue pharetra vel. Ut a maximus massa, ut gravida lacus. Vestibulum malesuada, massa vitae ornare suscipit, elit erat blandit neque, a auctor ante erat at felis. Sed dui sapien, ornare iaculis neque sed, ultrices fermentum nibh. Phasellus vehicula velit vel libero iaculis blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id odio vitae ligula pretium mattis.  